@{
    ViewData["Title"] = "Banner-Index";
}
@model IEnumerable<Banner>

<div class="container">
    <a class="btn btn-primary my-3" asp-action="Banner">Banner</a>
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>PrimaryTitle</th>
                <th>SecondaryTitle</th>
                <th>ImageUrl</th>
                <th>Order</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.PrimaryTitle</td>
                    <td>@item.SecondaryTitle</td>
                    <td>@item.ImageUrl</td>
                    <td>@item.Order</td>
                    <td><a asp-action=""></a></td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>

